
.ipynb_checkpoints/linear_regression-checkpoint.ipynb

.ipynb_checkpoints/BayesEquation-checkpoint.ipynb

c.png

m.png

mu.png

x_pred.png

y_pred_3.png

y_pred_7.png

y_pred_4.png

y_pred_9.png

.ipynb_checkpoints/metropolis_hastings-checkpoint.ipynb

.ipynb_checkpoints/pymc_joint_test-checkpoint.ipynb

data.png

images/simple_model.graffle
